/* Misc */
@font-face {
    font-family: sourceCodePro;
    src: url(./src/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: comfortaa;
    src: url(./src/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: truculenta;
    src: url(./src/fonts/Truculenta/Truculenta-VariableFont_opsz.wght.ttf);
  }
  
  @font-face {
    font-family: gloria;
    src: url(./src/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
  }
  
  /*Variables*/
  :root {
    /*Spacings*/
    --spacing-large: 4rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xxsmall: 0.8rem;
    /*Font family*/
    --font-principal: comfortaa;
    --font-title: truculenta;
    --font-menu: sourceCodePro;
    --font-about: gloria;
    /*Font size*/
    --text-large: 5.2em;
    --text-medium: 2.4em;
    --text-base: 1.6em;
    --text-small: 1.6em;
    --text-xsmall: 1em;
    --text-xxsmall: 0.8em;
  }
  
  /*Reset*/
  * {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: #e8efed;
    font-size: var(--text-small);
  }
  
  /*Fonts*/
  h1 {
    font-family: var(--font-title);
    font-size: var(--text-large);
    text-align: center;
    font-weight: lighter;
    margin: var(--spacing-small);
  }
  
  h2 {
    font-family: var(--font-principal);
    font-size: var(--text-medium);
  }
  
  h3 {
    font-family: var(--font-principal);
    font-size: var(--text-base);
    text-align: center;
  }
  
  p {
    font-family: var(--font-principal);
    font-size: var(--text-small);
  }

  span {
    font-family: var(--font-principal);
    font-size: var(--text-xsmall);
  }
  
  label {
    font-family: var(--font-principal);
    font-size: var(--text-small);
  }

  .characterInfo{
    display: flex;
    border-style: double;
    border-color: red;
  }
  
  .characterDescription{
    display: flex;
    justify-content: space-between;
    border-style: double;
    border-color: red;
    margin: 1rem;
    padding: 1rem;
  }

body{
    padding: 2vh;
    background-image: url("./src/img/textura-vieja-hoja-de-papel-arrugada-cafe_2937x2056_xtrafondos.com.jpg");
}

main{
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: url("./src/img/textura-vieja-hoja-de-papel-arrugada-cafe_2937x2056_xtrafondos.com.jpg");
}

#characterDescription{
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  border-style: double;
  border-color: red;
  margin: 1rem;
  padding: 1rem;
}

#nameModal{
  display: none;
}

#dicesModal{
  display: none;
}

.dicesDiv{
  display: flex;
  justify-content: space-around;
}

.throwContainer{
  display: flex;
  flex-direction: column;
  border-style: double;
  border-color: red;
}

.dicesScore{
  height: 6vh;
  width: 6vh;
  border-style: ridge;
  border-color: #555;
  text-align: center;
  font-size: xx-large;
  margin: 1rem;
  line-height: 55px;
  cursor: move;
}

#filleableAbilities{
  display: flex;
  justify-content: space-around;
}

.attributes{
  display: flex;
  border-style: double;
  border-color: red;
}

.attributesContainer{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center  ;
}

.abilityToFill{
  width: auto;
  height: auto;
  border-style: ridge;
  border-color: #555;
  text-align: center;  
  font-size: large;
  margin: 1rem;
  padding: 1rem;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#throwsConfirmation{
  display: none;
}

#abilitiesConfirmation{
  display: none;
}

#characterSheetHeader{
  grid-column: 2/3;
  display: none;
}

#characterPicture{
    width: 10rem;
    height: auto;
}

#characterImg{
    width: 100%;
    height: auto;
}

.characterNameAndClass{
    margin: 1rem;
}

.abilitiesDiv{
    margin: 1rem;
    border-style: double;
    border-color: red;
    padding: 1rem;
    grid-column: 2/3;
}

.characterAbilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.abilityContainer{
    border-style: double;
    border-color: red;
    padding: 1rem;
    margin: 1rem;
}

.habilityScore{
  height: 5vh;
  width: auto;
  border-style: ridge;
  border-color: #555;
  text-align: center;
  font-size: large;
  margin: 1rem;
  line-height: 45px;
}

.characterSkills{
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
    border-style: double;
    border-color: red;
    margin: 1rem;
    padding: 1rem;
}

.skillContainer{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    width: 90%;
    height: 5vh;
    margin: 1rem;
}

.characterUtilities{
  grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.profCheckbox{
  width: 10%;
  justify-self: center;
}

.skillModifier{
  width: 15%;
  justify-self: center;
}

.skillDesc{
  width: 45%;
  text-transform: capitalize;
}

.skillScore{
  width: 20%;
  height: 100%;
  border-style: ridge;
  border-color: #555;
  text-align: center;
  font-size: large;
  line-height: 45px;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }